*{
    margin: 0px;
    padding: 0px;   
}

header{
    background-color: #d2d2d2;
    text-align: center;
    padding: 45px 0 45px 0;
}
header h1 img{
    padding:20px;
}
header .title-h1{
    font-size: 35px;
}
.wrapper{
    max-width: 600px;
    margin: auto;
}
.wrapper.first-section p{
    font-size: 19px;
    text-align: left;
    line-height: 150%;
    margin-top: 10px;
}
.wrapper.first-section h2 {
    font-size: 29px;
    margin-top: 20px;
}
.wrapper.first-section img{
    margin-top: 50px;
}